@font-face {
    font-family: 'gorditaregular';
    src: url('../fonts/gordita_regular-webfont.woff2') format('woff2'),
         url('../fonts/gordita_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "gorditaregular";
}


section.container {
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
}
section.container div.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.container div.heading a.button {
    width: 200px;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    font-weight: 900;
}
section.container div.heading  h3 {
    font-size: 25px;
}
section.container form {
    width: 100%;
    border: 2px solid #000;
    padding: 10px;
    border-radius: 8px;
    margin: 30px 0;
}
section.container form div.form-field {
    display: flex;
    position: relative;
}
section.container form div.form-field input {
    flex: 1;
    height:40px ;
    border: none;
    background: #fff;
    font-size: 18px;
}
section.container form div.form-field input:focus{
    border: none;
    outline: none;
}
section.container form div.form-field button {
    height:40px ;
    position: absolute;
    right: 0;
    border: none;
    background: #fff;
}
section.container form div.form-field button img {
    height: 100%;
}

ul.result {
    list-style: none;
}
ul.result li {
}
ul.result h2 {
    font-size: 25px;
    margin-bottom: 20px;
    text-decoration: underline;
}
ul.result li p {
    font-size: 20px;
}
ul.result p.error {
    text-align: center;
    font-size: 30px;
}